<%= render "nav"%>
<%= render "nav-cards" %>
<div class="calendar-wrapper">
<%= search_form_for @q do |f| %>

  <%= f.label :name_or_client_email_cont %>
  <%= f.search_field :name_or_client_email_cont %>

  <%= f.submit %>
<%= month_calendar(events: @sessions) do |date, meetings| %>
    <%= date %>
    <% meetings.each do |meeting|%>
        <br/>
        <div>
            <%= link_to(meeting) do %>
                <div class="event">
                    <strong><%= meeting.name %></strong><br>
                    <%= meeting.start_time.strftime('%I:%M %p') %> to <%= meeting.end_time.strftime('%I:%M %p') %>
                </div>
            <% end %>
        </div>
    <% end %>
<% end %>

<% end %>

<%= link_to "Back to Home", root_path %>
</div>