<% if !user_signed_in? %>
<div class="nav">
<img src="FR.png" class="image">
    <div class="login">
        <%= link_to "Login", new_user_session_path %>
    </div>
    <div class="signup">
        <p><%= link_to "Create Account", new_user_registration_path %></p>
    </div>
</div>
<h1><strong>book</strong></h1>
<h1><strong>a session.</strong></h1>
<div class="book">
helllo
</div>
<%else%>
    <h1>Hello, <%= @user.first_name %> <%= @user.last_name %>!</h1>
    <% if @user.role == 1 %>
        <p><%= link_to "All Users", users_path%></p>
        <p><%= link_to "New Meeting", new_meeting_path %>
    <% else %>
    <% end %>
    <p><%= link_to "To Calendar", calendar_path%></p>
    <p><%= link_to "To Available Sessions Calendar", available_path%></p>
    <p><%= link_to "To Scheduled Sessions Calendar", scheduled_path%></p>
    <p><%= link_to "To Unapproved Sessions Calendar", unapproved_path%></p>
    <p><%= link_to "Edit Account", edit_user_registration_path %></p>
    <p><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></p>

<%end%>

