
<% if !user_signed_in? %>
<div class="nav">
    <strong><p><%= link_to "LOGIN", new_user_session_path, class:"login" %></p></strong>
    <strong><p><%= link_to "SIGN UP", new_user_registration_path, class:"signup" %></p></strong>
</div>
<div class="homepage-container">
    <div class="book-a-session">
        <h1 class="book-text"><strong>book</strong></h1>
        <h1 class="book-text"><strong>a session.</strong></h1>
        <div class="homepage-logo">
            <img src="logo.PNG" class="logo">
            <p class="FR-Clinic">R I V C L I N I C</p>
        </div>
    </div>
    <div class="card">
        <img src="book.png" class="plain-book">
        <%= link_to(new_user_registration_path) do %>
            <img src = "sign.png" class="img-top">
        <% end %>
    </div>
</div>
<%else%>
<div class="homepage-wrapper">
    <%= render "nav"%>
    <h3>Hello, <%= @user.first_name %> <%= @user.last_name %>!</h3>

    <% if @user.image_data == nil %>
        <h3>You need to upload an ID to book a meeting.<br> Please contact your doctor or upload your ID personally through the link below.</h3>
        <p><%= link_to "Upload ID", edit_user_path(@user)%></p>
    <% else %>

    <% if @user.role == 1 %>
        <p><%= link_to "All Users", users_path%></p>
        <p><%= link_to "New Meeting", new_meeting_path %>

        <p><%= link_to "To Calendar", calendar_path%></p>
        <p><%= link_to "To Available Sessions Calendar", available_path%></p>
        <p><%= link_to "To Scheduled Sessions Calendar", scheduled_path%></p>
        <p><%= link_to "To Unapproved Sessions Calendar", unapproved_path%></p>
        <p><%= link_to "Edit Account", edit_user_registration_path %></p>
        <p><%= link_to "Upload ID", edit_user_path(@user)%></p>
        <p><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></p>

    <% else %>
        <p><%= link_to "To Calendar", calendar_path%></p>
        <p><%= link_to "To Available Sessions Calendar", available_path%></p>
        <p><%= link_to "To Scheduled Sessions Calendar", scheduled_path%></p>
        <p><%= link_to "To Unapproved Sessions Calendar", unapproved_path%></p>
        <p><%= link_to "Edit Account", edit_user_registration_path %></p>
        <p><%= link_to "Upload ID", edit_user_path(@user)%></p>
        <p><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></p>
    <% end %>
    
    <% end %>
</div>
<%end%>


