<%= form_with(model: meeting) do |form| %>
  <% if meeting.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(meeting.errors.count, "error") %> prohibited this meeting from being saved:</h2>

      <ul>
        <% meeting.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :start_time, style: "display: block" %>
    <%= form.datetime_field :start_time %>
  </div>

  <div>
    <%= form.label :end_time, style: "display: block" %>
    <%= form.datetime_field :end_time %>
  </div>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id, value: current_user.id %>
  </div>

  <% if current_user.role == 0 %>
  <div>
    <div class="field">
    <%= form.label "Book Session?" %><br />
    <%= form.label :is_booked, "Yes", value: "true"  %>
    <%= form.radio_button :is_booked, true, checked: meeting.is_booked %>
    <%= form.label :is_booked, "No", value: "false" %>
    <%= form.radio_button :is_booked, false, checked: !meeting.is_booked %>
    </div>
  </div>
  <%else%>
    <div>
      <%= form.label :client_email, style: "display: block" %>
      <%= form.text_field :client_email %>
    </div>
  <%end%>
  <div>
    <%= form.submit %>
  </div>
<% end %>
