<%= form_with(model: meeting) do |form| %>
  <% if meeting.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(meeting.errors.count, "error") %> prohibited this meeting from being saved:</h2>

      <ul>
        <% meeting.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<%if current_user.role == 1%>
  <div>
    <%= form.label :user_id, class: "form-label", style: "display: block" %>
    <%= form.text_field :user_id, class: "form-input", value: current_user.id,  :readonly => true %>
  </div>
  
  <div>
    <%= form.label :name, class: "form-label", style: "display: block" %>
    <%= form.text_field :name, class: "form-input" %>
  </div>

  <%= @test%>

  <div>
    <%= form.label :start_time, class: "form-label", style: "display: block" %>
    <%= form.datetime_field :start_time, class: "form-input" %>
  </div>

  <div>
    <%= form.label :end_time, class: "form-label", style: "display: block" %>
    <%= form.datetime_field :end_time, class: "form-input" %>
  </div>
  
  <div>
    <div class="field">
    <%= form.label "Approved?", class: "form-label" %><br />
    <%= form.label :is_approved, "Yes", value: "true"  %>
    <%= form.radio_button :is_approved, true, checked: meeting.is_approved %>
    <%= form.label :is_approved, "No", value: "false" %>
    <%= form.radio_button :is_approved, false, checked: !meeting.is_approved %>
    </div>
  </div>
  <%else%>
    
  <%end%>

  <div>
    <%= form.label :client_email, class: "form-label", style: "display: block" %>
    <%= form.text_field :client_email, class: "form-input" %>
  </div>

  <div>
    <%= form.submit "Save", class: "sign-up-form-button" %>
  </div>
<% end %>
