<tr>
  <td>
    <%= meeting.name %>
  </td>

  <td>
    <%= @doctor.first_name %> <%= @doctor.last_name %>
  </td>

  <td>
    <%= meeting.start_time.strftime('%Y-%m-%d | %I:%M %p') %>
  </td>

  <td>
    <%= meeting.end_time.strftime('%Y-%m-%d | %I:%M %p') %>
  </td>

  <td>
    <%= meeting.is_approved %> 
  </td>

  <td>
    <%= meeting.client_email == ""? "None": meeting.client_email %> 
  </td>

  <td>
    <%= link_to "Show Meeting", meeting %>
  </td>

  <%if current_user.role==1%>
    <td><%= button_to "Delete this meeting", meeting, method: :delete, class: "btn btn-primary" %></td>
  <%else%>
  <%end%>
</tr>
