<div class="calendar-wrapper">

<%= render "nav" %>
<%= render "homepage/nav-cards" %>
<br>
<h3>Meetings Overview</h3>

<%# table %>

<table class="table table-bordered table-striped">
        <tr>
            <th>Name: </th>
            <th>Doctor: </th>
            <th>Start Time: </th>
            <th>End Time: </th>
            <th>Approved: </th>
            <th>Client Email: </th>
            <th>Paid: </th>
            <th>Link: </th>
            <%if current_user.role==1%>
            <th>Delete: </th>
            <%else%>
            <%end%>
        </tr>
  <% @meetings.each do |meeting| %>
    <%= render meeting %>
  <% end %>
  </table>
  <%= will_paginate @meetings %>


<%# calendar %>

<%= search_form_for @q do |f| %>

  <%= f.label :name_or_client_email_cont %>
  <%= f.search_field :name_or_client_email_cont %>
  <%= " - "%>
  <%= f.label "Approved or Not Approved:" %>
  <%= f.select :is_approved_eq, [['Approved', true], ['Not Approved', false]], include_blank: 'All' %> 
  <%= " - "%>
  <%= f.label "Paid or Not Paid:" %>
  <%= f.select :is_paid_eq, [['Paid', true], ['Not Paid', false]], include_blank: 'All' %>

  <%= f.submit %>
<% end %>

<%= search_form_for @q do |f| %>
  <%= f.label 'From' %>
  <%= f.date_field :created_at_gteq, value: f.object.try(:strftime,"%Y-%m-%d") %>
  <strong> to </strong>
  <%= f.date_field :created_at_lteq, value: f.object.try(:strftime,"%Y-%m-%d") %>

  <%= f.submit %>
<% end %>

<%= month_calendar(events: @calendar_sessions) do |date, meetings| %>
    <%= date %>
    <% meetings.each do |meeting|%>
        <br/>
        <div class="event">
            <%= link_to(meeting) do %>
                <div class="calendar-item-wrapper">
                    <strong><%= meeting.name %></strong><br>
                    <strong><%= meeting.client_email %></strong><br>
                    <%= meeting.start_time.strftime('%I:%M %p') %> to <%= meeting.end_time.strftime('%I:%M %p') %>
                </div>
            <% end %>
          <% if current_user.role == 1 %>
            <%= button_to "Delete this meeting", meeting, method: :delete, class: "btn btn-primary" %>
          <% else %>
          <% end %>
        </div>
    <% end %>
<% end %>

<% if current_user.role == 1%>
<%= link_to "New meeting", new_meeting_path %>
<%end%>

<%= link_to "Back to Home", root_path%>

</div>


