
<%= render "nav" %>
<%= render "homepage/nav-cards" %>

<div class="meeting-wrapper">
  <h2>New meeting</h2>

  <% if @meeting.errors.any? %>
    <div style="color: red">
      <ul>
        <% @meeting.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render "form", meeting: @meeting %>

  <br>

  <div>
    <%= link_to "Back to Home", root_path %>
  </div>
</div>
