<div id="<%= dom_id user %>">
    
        <tr>
            <td><%= user.id%></td>
            <td><%= user.email%></td>
            <td><%= user.first_name%></td>
            <td><%= user.last_name%></td>
            <td><%= user.role == 0 ? "Client" : "Doctor"%></td>
            <td><%= user.age%></td>
            <td><%= link_to "Show this user", user %></td>
        </tr>
    
</div>
