<div id="<%= dom_id user %>">
    <table class="table table table-bordered table-striped">
        <tr>
            <th><strong>ID:</strong></th>
            <th><strong>Email:</strong></th>
            <th><strong>First Name:</strong></th>
            <th><strong>Last Name:</strong></th>
            <th><strong>Age:</strong></th>
            <%# <th>Confirmed on: <%= user.confirmed_at</th> %>
            <th><strong>Role:</strong></th>
            <th><strong>Approved:</strong></th>
        </tr>
        <tr>
            <td><%= user.id%></td>
            <td><%= user.email%></td>
            <td><%= user.first_name%></td>
            <td><%= user.last_name%></td>
            <td><%= user.age%></td>
            <td><%= user.role == 0 ? "Client" : "Doctor" %></td>
            <td><%= user.is_approved %></td>
        </tr>
    </table>

    <p><strong>Image data:</strong></p>
    <p>
        <div class="image"><%= image_tag user.image_url if user.image %></div>
    </p>

</div>