<%= render "homepage/nav" %>
<div class="resend-wrapper edit-meeting">
<br>

<%if current_user.role==1%>
<h2 >Editing user</h2>
<%else%>
<h2>Upload an ID</h2>
<% end %>

<%= form_with(model: @user) do |form| %>
  <% if @user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<% if current_user.role == 1 %>
  <div>
    <%= form.label :email, style: "display: block", class: "form-label" %>
    <%= form.text_field :email, class: "form-input" %>
  </div>

  <div>
    <%= form.label :first_name, style: "display: block", class: "form-label" %>
    <%= form.text_field :first_name, class: "form-input" %>
  </div>

  <div>
    <%= form.label :last_name, style: "display: block", class: "form-label" %>
    <%= form.text_field :last_name, class: "form-input" %>
  </div>

  <div>
    <%= form.label :age, style: "display: block", class: "form-label" %>
    <%= form.number_field :age, class: "form-input" %>
  </div>

  <div>
    <div class="field">
    <%= form.label :role, class: "form-label" %><br />
    <%= form.label :role, "Client", value: "0" %>
    <%= form.radio_button :role, 0, checked: @user.role==0 %>
    <%= form.label :role, "Doctor", value: "1" %>
    <%= form.radio_button :role, 1, checked: @user.role==1 %>
    </div>
  </div>

  <div>
    <div class="field">
    <%= form.label :is_approved %><br />
    <%= form.label :is_approved, "Yes", value: "true"  %>
    <%= form.radio_button :is_approved, true, checked: @user.is_approved %>
    <%= form.label :is_approved, "No", value: "false" %>
    <%= form.radio_button :is_approved, false, checked: !@user.is_approved %>
    </div>
  </div>

  <div class="field">
    <%= form.label :image, class: "form-label" %>
    <%= form.file_field :image %>
  </div>

<% else %>
  <div class="field">
    <%= form.label :image, class: "form-label" %>
    <%= form.file_field :image %>
  </div>
<% end %>

  <div>
    <%= form.submit "Save", class: "sign-up-form-button" %>
  </div>
<% end %>

<br>

<%if current_user.role==1%>
<div>
  <%= link_to "Show this user", @user %> |
  <%= link_to "Back to users", users_path %>
</div>
<%else%>
  <%= link_to "Back to Home", root_path %>
<% end %>
</div>