<%= render "layouts/nav"%>
<div class="users-wrapper">
<h2>Users</h2>

<div id="users">

<%= search_form_for @q do |f| %>

  <%= f.label :first_name_or_last_name_or_email_cont %>
  <%= f.search_field :first_name_or_last_name_or_email_cont %>

  <%= f.submit %>
<% end %>
<div class="calendar-inner-card">
<table class="table table-bordered table-striped">
        <tr>
            <th>ID: </th>
            <th>Email: </th>
            <th>First Name: </th>
            <th>Last Name: </th>
            <th>Role: </th>
            <th>Age: </th>
            <th>Link: </th>
        </tr>
  <% @users.each do |user| %>
    <%= render user %>
  <% end %>
  </table>
  <%= will_paginate @users %>
</div>
</div>

<%= link_to "Back to Home", root_path %>

</div>
