<p style="color: green"><%= notice %></p>

<%= render "user_show", user: @user %>

<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>

  <% if current_user.role == 1 %>
    <%= button_to "Destroy this user", @user, method: :delete %>
  <% else %>
  <% end %>
</div>
